@page "/user"
<h3>User MVVM</h3>



<CascadingValue Value="viewModel">
    <MVVM_Sample.Components.UserAdd></MVVM_Sample.Components.UserAdd>
    <br />
    <MVVM_Sample.Components.UserList></MVVM_Sample.Components.UserList>
</CascadingValue>